.button {
  width: 354px;
  height: 88px;
  padding: 25px 5px;
  border: 5px solid #38514d;
  border-radius: 10px;
  background: none;
  display: flex;

  // TODO: Make this actually work
  &-text {
    &__left {
      text-align: left;
    }
    &__center {
      text-align: center;
    }
    &__right {
      text-align: right;
    }
  }

  &-icon {
    margin: 0 20px;

    // TODO: Make this actually work
    &__left {
      left: 0;
    }

    &__right {
      right: 0;
    }
  }
}
