@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  max-width: 1080px;
  margin: 0 auto;
  background-color: $color-dark;
}

@import "./components/components";
@import "./templates/app/App";
@import "./templates/home/Home";
@import "./templates/login/Login";
@import "./templates/category/Category";
@import "./templates/foodItem/FoodItem";
@import "./templates/dailyConsumption/DailyConsumption";
